<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stimmzettelgenerator{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra_css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        {% load static %}
        <img src="{% static 'StuRa_Logo_sw_RGB.svg' %}" alt="stura.uni-heidelberg.de" width="200" height="40" class="d-inline-block align-text-center">
        Zettelgenerator
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="/">Übersicht</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/basisform">Leeres Formular</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
{% bootstrap_messages %}
<br>
<div id="content" class="container">
    {% block content %}{% endblock %}
    <br>
    Die Daten für den Wahlzettelgenerator werden live aus der Kandidaturdatenbank gezogen. Geschrieben von Jakob Sinn und Felix Joeken 2025
</div>
<br>

{% block extra_js %}{% endblock %}
</body>
</html>